body {
    background-color: bisque;
}

.menu__comidas {
    margin-top: 35px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu__comidas div {
    margin: auto 10px 25px 10px;
}

.menu__comidas img {
    height: 320px;
    width: 320px;
    object-fit: fill;
}

.btn {
    margin-top: -10px;
}

#fotoCarrito {
    height: 100px;
    width: 100px;
    object-fit: fill;
}

#tablaCarrito th {
    padding-right: 30px;
}

#fCompra {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0px;
}